.todo {
    border: 1px solid red;
    padding: 8px;
    margin: 4px;
    box-sizing: border-box;
    width: 10%;
    border-radius: 15px;
    cursor: pointer;
}
  
.main{
  display: flex;
  align-items: center;
}

.lineThrough{
  text-decoration: line-through;
}

.none{
  text-decoration: none;
}

.deleteImg{
  margin-left: 5px;
  height: 22px;
  width: 20px;
  cursor: pointer;
}